<h1 *ngIf="hasError">There was an error fetching data</h1>
<div *ngIf="!hasError" class="container progress__bars">
  <h1>{{ title }}</h1>

  <h2 *ngIf="loading">Loading...</h2>

  <app-progress-bar
    *ngFor="let bar of bars; let i = index"
    [bar]="bar"
    [limit]="limit"
    >
    {{ bar }}
    </app-progress-bar
  >
</div>

<div *ngIf="!hasError" class="container flex__controls">
  <div class="flex__item select__bar">
    <select id="select" name="bars" (change)="selectIndex($event.target.value)">
      <option
        *ngFor="let bar of bars; let i = index"
        selected="currentIndex === i"
        value="{{ i }}"
        >Bar #{{ i + 1 }}</option
      >
    </select>
  </div>

  <div class="flex__item buttons">
    <app-progress-button
      *ngFor="let button of buttons; let i = index"
      (click)="changeValue(currentIndex, button)"
      [button]="button"
      >{{ button }}</app-progress-button
    >
  </div>
</div>
